.header, .footer {
    background: #1F2937;
    color: white;
}

.htop a, .hbottom p {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hb title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
ul {
    list-style-type: none;
}

.logo p {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}
/* TEMP IMG TO MAKE PAGE READABLE */
img {
    width: 200px;
    height: 200px;
}

button, .sec3 .container {
    background-color: #3882F6;
}

h2 {
    font-size: 36px;
    font-weight: 900px;
    color: #1f2937;
}

.sec2 {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.sec2 .quoteauthor {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}