.header, .footer {
    background: #1F2937;
    color: white;
}

.htop a, .hbottom p {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hb title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
ul {
    list-style-type: none;}

.logo div {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

button, .sec3 .container {
    background-color: #3882F6;
    color: white;
}

h2 {
    font-size: 36px;
    font-weight: 900px;
    color: #1f2937;
}

.sec2 {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.sec2 .quoteauthor {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

/* FLEXBOX STYLING */

body {
    display: flex;
    flex-direction: column;
}

.htop {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: flex-end;
    padding: 16px;
    margin: 0;
    gap: 8px;
}

.hlinks {
    display: flex;
    margin-right: 32px;
    gap: 16px;
    align-items: flex-end;
    text-align: right;
}

.hbottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px;
    padding: 0;
    gap: 32px;
}

.hbottom > * {
    flex: 1 1 33%;
}

